<!-- Footer -->
<footer style="font-family: Oswald; color: black;" class="footer">
    <!-- Section: Social media -->
    <section class="caption-container">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="body">
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Service Plug
            </h6>
            <p>
              A group of 4 student members who called themselves VENDA GXNG,
              because of their culture since they are from Limpopo, Venda.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
            <h6 class="text-uppercase fw-bold mb-4">
              Languages
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">XML</a>
            </p>
            <p>
              <a href="#!" class="text-reset">C#</a>
            </p>
            <p>
              <a href="#!" class="text-reset">ASPNET.Core</a>
            </p>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/hbooking" class="text-reset">Bookings</a>
            </p>
            <p>
              <a href="#" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="/bbooking" class="text-reset">Tracking</a>
            </p>
            <p>
              <a href="#" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Johannesburg, 30-38 Claim Street , GAUTENG</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              serviceplug4@info.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 012 345 6789</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#">vendaGxng@info.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->