<div  class="body">
	<div class="wrapper">
		<div class="sidebar">
			<ul>
				<a routerLink="/adminf">
					<li routerLinkActive="nav-item nav-link active"><i class="fas fa-home"></i></li>
					<span style="color: rgb(151, 151, 151);font-family: Oswald;color: black;">Dashboard</span>
				</a>
				<a routerLink="/verifyf">
					<li routerLinkActive="nav-item nav-link active"><i class="fa fa-download"></i></li>
					<span style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Verification</span>
				</a>
				<!-- <a routerLink="/reportsf">
					<li routerLinkActive="nav-item nav-link active"><i class="fa fa-file" aria-hidden="true"></i></li>
					<span style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Reports</span>
				</a> -->

					
				<div class="dropdown">
					<a href="/adminf" >
						<li><i class="fa fa-file" aria-hidden="true"></i></li>
						<span class="dropbtn" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Reports</span>
						<div class="dropdown-content">
							<a href="/reportsf" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black">Previous Booking</a>
							<a href="/rating" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black">Ratings</a>
							
								<!-- <div class="dropdown-content"> -->
									<a href="/adminf" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black">Popular Service
										<div class="dropdown-content">
											<!-- <a href="/brequest" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Booking Request</a>
											<a href="/arequest" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Accepted Request</a>
											<a href="/cbooking" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Completed Bookings</a> -->
											<a href="/serviceby" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Service By Category</a>
										  
											 </div>
									 </a>
								<!-- </div> -->
								
								

						  </div>
					</a>
				  </div>
			
				<a routerLink="/signin">
					<li><i class="fa fa-sign-out"></i></li>
					<span style="color: rgb(151, 151, 151);font-family: Oswald;color: black">Sign Out</span>
				</a>
			</ul>
		</div>
		<div class="main">
			<div class="head">
				<div style="font-family: Oswald;color: black" class="head-title">
					<h2 >Dashboard</h2>
					<span>Admin Updates</span>
				</div>
				<div style="font-family: Oswald;color: black" class="head-search">
					<input type="search" placeholder="Search">
				</div>
			</div>
			<div class="main-board">
				<div class="card-board">
					<!-- <div class="card">
						<div class="card-icon">
							<i class="fa fa-eye" style="font-size:60px;"></i>
							<i class="fas fa-ellipsis-v"></i>
						</div>
						<span style="font-family: Oswald;color: black">Daily Views</span>
						<h5>250</h5>
					</div> -->
					<div class="card">
						<div class="card-icon">
							<i class="fa fa-wrench" style="font-size:60px ;"></i>
							<i class="fas fa-ellipsis-v"></i>
						</div>
						<span style="font-family: Oswald;color: black">Services</span>
						<h5>44</h5>
					</div>
					<div class="card">
						<div class="card-icon">
							<i class="fa fa-pencil-square-o" style="font-size:60px ;"></i>
							<i class="fas fa-ellipsis-v"></i>
						</div>
						<span style="font-family: Oswald;color: black">Bookings</span>
						<h5>55</h5>
					</div>
					<div class="card">
						<div class="card-icon">
							<i class="fa fa-star " style="font-size:60px ;"></i>
							<i class="fas fa-ellipsis-v"></i>
						</div>
						<span style="font-family: Oswald;color: black">Rating</span>
						<h5>12</h5>
					</div> 
					<!-- <div class="card">
						<div class="card-icon">
							<i class="fa fa-comment-o" style="font-size:60px ;"></i>
							<i class="fas fa-ellipsis-v"></i>
						</div>
						<span style="font-family: Oswald;color: black">Reviews</span>
						<h5>{{bb}}</h5>
					</div> -->
				</div>
             
			  <div style="font-family: Oswald;color: black" class="details">
				 <!--Booking detail list-->
				<div class="recentBookings">
					<div class="cardHeader">
						<h2>Recent Bookings</h2>
						<a href="#" class="btn"> View All</a>
					</div>
					<table>
						<thead>
							<tr>
						    <td>Date</td>
							<td>Time</td>
							<td>Status</td>
							<td>Merchant Details</td>
							<td>Client Details</td>
							</tr>
						</thead>
						<tbody    >
							<tr>
								<td> </td>
								<td  > heet </td>
								<!-- <div *ngIf="typ111"> </div> -->
								<td  >
									<!-- % if {{meta.bookStatus}} == "Active" % -->
								 
								</td> 
                                       <td>g343g</td>
								<!-- <td> <button class="btn btn-primary px-4 ms-3"
									 (click)="saw(meta.merchId,meta.userId)" data-toggle="modal" data-target="#exampleModal">View</button></td> -->
									 <td>4gh43g34</td> 

								<!-- (click)="saw(b.bookId)" data-toggle="modal" data-target="#exampleModal11" -->
								
								<!-- <td *ngIf="typ111"><span class="status delivered"   >{{meta.bookStatus}}</span></td> -->
							</tr>
				 
						
						</tbody>
					</table>
				</div>
                  <!-- Modal for merchant details -->
				  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h6 class="modal-title" id="exampleModalLabel"> Details</h6>
						  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button> -->
						</div>
						<div class="modal-body">
						 <p>Merchant Name :rd</p> 
						 <p>Merchant SurName :4r</p> 
						 
						 <hr>
						 <p>Client Name : wege</p> 
						 <p>Client SurName : grwe</p> 
						
						</div>
						<br>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
						</div>
					  </div>
					</div>
				  </div>



				<div class="recentMerchants">
					<div class="cardHeader">
						<h2>Recent  Merchants</h2>
						 
					</div>
					<table class="table">
                        <tbody  >
						<tr >
							<td width="60px"><div class="imgBx"> </div></td>
							<td><h4>egwge<br><span>cirt</span></h4></td>
						</tr>
                    </tbody>
			 
					</table> 
				</div>


				<!--Merchants on the block-->
				<div class="recentMerchants">
					<div class="cardHeader">
						<h2>All Booking Request</h2>
					</div> 
					<canvas id="myChart11"  ></canvas>
					<!-- <table class="table">
                        <tbody *ngFor="let met of mercs">
						<tr >
							<td width="60px"><div class="imgBx"> </div></td>
							<td><h4>{{met.merchName}} {{met.merchSurname}}<br><span>{{met.merchCity}}</span></h4></td>
						</tr>
                    </tbody>
			 
					</table> -->
				</div>


			  </div>
			</div>
		</div>
	</div>
</div>