<app-header></app-header>

<!-- <div class="container-fluid bg-secondary py-5">
  <div class="containe py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-primary text-uppercase">Track Bookings</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn btn-outline-primary" href="/home">Home</a>
                  <i class="fas fa-angle-double-right text-primary mx-2"></i>
                  <a class="btn btn-outline-primary disabled" href="">Track Booking</a>
              </div>
          </div>
      </div>
  </div>
</div> -->
<br>
<!-- <section style="font-family:Oswald; color:black" class="theme-breadcrumb pad-50">
    <div class="theme-container container ">
        <div class="row">
            <div class="col-sm-8 pull-left">
             
            </div>
        </div>
    </div>
</section> -->

<section style="font-family:Oswald; color:black" class="pt-50 pb-120 tracking-wrap">
    <div  *ngFor="let b of brw "   class="theme-container container ">
      <div        > 
        <div class="row">
   
            <article class="card">
              
                <header class="card-header"> My Booking / Tracking </header> 
                <div  class="body">    
                <input type="checkbox" id="show">
             
            <div   class="wrapper"  >
                <form    > 
                <h5> Quotation </h5>
                <p>  lkvsdlsd  </p>
                  <p>  54545 </p>
                <!-- <input   [disabled]="true" type="text" name="merch" matInput [(ngModel)]="merch" > -->
                    <!-- <form>
                        <button onclick="self.close()">Close</button>
                    </form> -->
                </form>
            </div>
            </div>
                <div    class="card-body">
                    <h6>Booking ID: {{b.borrowId}} </h6>
                    <article class="card">
                        <div class="card-body row">
                         
                            <div class="col"> <strong >Reserved Booking:</strong> <br> <i class='fas fa-calendar-alt' style='font-size:18px;color:black'></i>5665</div>
                            <div style="margin-left: 30px" class="col"> <strong>Reserved   Time:</strong> <br>
                              <!-- <p>  {{mntest}} </p> -->
                              <i class='far fa-clock' style='font-size:28px;color:black'></i>  26 
                            
                              <!-- {{  b.merchId}}    
                              <i
                                    class="fa fa-phone"></i> 0825978674 --> </div>
                            <div style="margin-left: 30px" class="col"> <strong>Status:</strong> <br>{{b.borrowStatus}}   </div>
  
                        </div>
                        <!-- <input type="button" class="btn btn-success" (click)="now(b.merchId)" value="Download"/>
                        <button mat-icon-button color="primary" (click)="now(b.merchId)" title="View Contact"><mat-icon>preview</mat-icon></button> -->


                        <!-- <div class="Rating" *ngIf="raterev">
                          <form [formGroup]="addUserForm">
                            <div class="cont">
                              <div class="stars">
                                <ngx-star-rating formControlName="rating1" [id]="'rating'"  ></ngx-star-rating>
                              </div>
                              <div>Rating: {{form.value.rating1}}</div>
                              
                              <textarea name="ratemess" id="" formControlName="ratingmessage"   placeholder="Rate message"  ></textarea>
                             
                              <button type="button" (click)="ratee(b.merchId)">Save </button>
                            </div>
                           
                            
                         
                            </form>
                            
                            
                           
                            
                        </div> -->

                        <hr>
                        <div class="buttons">
                        
                            <button type="button" class="btn btn-outline-primary px-4"   data-toggle="modal" data-target="#exampleModal">View Merchant Details</button>
                      
                            <button class="btn btn-primary px-4 ms-3" 
                             data-toggle="modal" data-target="#exampleModal11">View the Quotations</button>

                            <button class="btn btn-primary px-4 ms-3" 
                         data-toggle="modal" data-target="#exampleModal22">View the Tracking</button>
                 
                        </div>
                        
                       
                         <!-- Modal for merchant details -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Merchant Details</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
         <p>efe</p> 
         <p>defe</p> 
         <p></p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


                           <!-- Modal for the quotations-->
                           <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Quotations Details</h5>
                                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button> -->
                                </div>
                                <div   class="modal-body">
                                 <p>Quation Amount :  </p>
                                  <p>Quotation Description :  </p>
                                 <p></p> 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                              </div>
                            </div>
                          </div>



                           <!-- Modal for the tacking-->
                           <div class="modal fade" id="exampleModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Tracking Details</h5>
                                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button> -->
                                </div>
                              
                                 <div class="modal-body">
                      
                                  

                                    <div class="Rating"  >
                                      <form  >
                                        <div class="cont">
                                          <div class="stars">
                                           
                                          </div>
                                          <!-- <div>Rating: {{addUserForm.value.rating1}}</div> -->
                                          <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                                          <!-- <input type="text" placeholder="Enter rate mesage"/> -->
                                          <textarea name="ratemess" id=""     placeholder="Rate message"  ></textarea>
                                         
                                          <button type="button"  >Save </button>
                                        </div>
                                       
                                        
                                     
                                        </form>
                                        
                                        
                                       
                                        
                                    </div>
                                  <!-- <div class="step"  [class.active]="orderStatus1 == op" > <span class="icon"
                                        > <i class="fas fa-tasks"></i> </span> <span class="text">{{ op }}</span> 
                                       </div>
                                      
                
                                     <div class="step " [class.active]="orderStatus == opp"  > 
                                       
                                       <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text"> {{opp}} </span> 
                                
                                   </div>
                                  
                                     <div class="step  "> <span class="icon"> <i class="fa fa-hourglass-start"></i> </span> <span class="text"> Service </span>
                                     </div>
                                     <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Service completed</span>
                                     </div>  -->
                                    </div>
                                    
                                    
                                <div class="modal-footer">
                                   
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                 
                                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                              </div>
                            </div>
                          </div>


                    </article>

<!-- 
                    <div class="track"  > -->
                      

                   <!-- <div class="step"  [class.active]="orderStatus1 == op" > <span class="icon"
                         > <i class="fas fa-tasks"></i> </span> <span class="text">{{ op }}</span> 
                        </div>
                       
 
                      <div   class="step " [class.active]="orderStatus == opp"  > 
                        
                        <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text"> {{opp}} </span> 
                 
                    </div>
                   
                      <div class="step  "> <span class="icon"> <i class="fa fa-hourglass-start"></i> </span> <span class="text"> Service </span>
                      </div>
                      <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Service completed</span>
                      </div>   -->


                 


                   
                        <!-- <div class="step   "  [class.track.step.active ]="orderStatus == item"> 
                            <span class="icon"  *ngIf="op"
                          [class.active]="orderStatus == item"> <i class="fas fa-tasks"></i> </span> <span 
                                class="text">{{item}}</span> </div> -->




                        <!-- <div class="step  "> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                                class="text">Booking
                                confirmed</span> </div>
                        <div class="step  "> <span class="icon"> <i class="fa fa-hourglass-start"></i> </span> <span
                                class="text"> Service </span>
                        </div>
                        <div class="step  "> <span class="icon"> <i class="fa fa-box"></i> </span> <span
                                class="text">Service completed</span>
                        </div> -->
                        
                    <!-- </div> -->
                    <!--testing the progess bar-->


                    <!-- <div class="container">
                      <span *ngFor="let item of counts;let i = index">
                        <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">
                          {{ item }}
                        </span>
                        <span class="circles" [class.active]="orderStatus == item"></span>
                        <span class="bar" *ngIf="(i != counts.length-1)"></span>
                      </span>
                      </div> -->

<br>
                    <hr>
                </div>
            </article>
        </div>
      </div>
    </div>


</section>

<app-footer-f></app-footer-f>
