<app-header-f></app-header-f>

<hr>

<section class="theme-breadcrumb pad-50">
    <div class="theme-container container ">
        <div class="row">
            <div class="col-sm-8 pull-left">

            </div>
        </div>
    </div>
</section>

<section class="pt-50 pb-120 tracking-wrap">
    <div class="theme-container container ">

        <div class="row">

            <article class="card">
                <header class="card-header" style="font-family: Oswald; color: black;"> My Booking / Tracking </header> 
                <div class="body">    
                <input type="checkbox" id="show">
            
            <div class="wrapper">
                <h5 style="font-family: Oswald; color: black;"> Quotation</h5>
                <p style="font-family: Oswald; color: black;"> Below is the quotaion amount and description
                    of what will be needed during the service  </p>
                    
               
            </div>
            </div>
                <div class="card-body" style="font-family: Oswald; color: black;">
                    <h6 >Booking ID: Booking ID goes here</h6>
                    <article class="card">
                        <div class="card-body row">
                            <div class="col"> <strong>Reserved Booking Date:</strong> <br>25 Dec 2022 </div>
                            <div class="col"> <strong>Requested merchant:</strong> <br>Frenkie, | <i
                                    class="fa fa-phone"></i> 0825978674 </div>
                            <div class="col"> <strong>Status:</strong> <br> Still to be confirmed </div>

                        </div>
                    </article>
                    <div class="track">
                        <div class="step active"> <span class="icon"> <i class="fas fa-tasks"></i> </span> <span
                                class="text">Booking</span> </div>
                        <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span
                                class="text"> Booking
                                confirmed</span> </div>
                        <div class="step"> <span class="icon"> <i class="fa fa-hourglass-start"></i> </span> <span
                                class="text"> Service </span>
                        </div>
                        <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span
                                class="text">Service completed</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="star_rating">
                    <button class="star">&#9734;</button>
                    <button class="star">&#9734;</button>
                    <button class="star">&#9734;</button>
                    <button class="star">&#9734;</button>
                    <button class="star">&#9734;</button>
                    
                </div>
              
            </article>
           
        </div>
        
    </div>
  
</section>


 <app-footer-f></app-footer-f>
